h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 72px;
    margin: 100px 0px 60px
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

button{
    width: 15%;
}

.btn{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
}
